/* Main Content CSS */
#main-content {
}
.section-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-orange);
}
/* Arrow General CSS */
.arrow-button {
  display: flex;
  z-index: 5000;
  position: absolute;
  background-color: rgba(9, 8, 8, 0.7);
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  justify-content: center;
  cursor: pointer;
}

.arrow-button--right {
  right: 3%;
  top: 55%;
  padding: 14px 4px 0 0;
}

.arrow-button--left {
  display: none;
  left: 5%;
  top: 55%;
  padding: 14px 0 0 4px;
}

.arrow-right,
.arrow-left {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--color-orange);
  border-left: 3px solid var(--color-orange);
}

.arrow-right {
  transform: rotate(135deg);
}

.arrow-left {
  transform: rotate(-45deg);
}
/* Most Played Games Section */
#section-most-played {
  position: relative;
  padding: 0 0 3rem 4rem;
}
.slider {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
}
.slides {
  display: flex;
  width: 500%;
  height: 100%;
  max-height: 720px;
}
.slides input {
  display: none;
}
.slide {
  position: relative;
  width: 20%;
  transition: 2s;
  cursor: pointer;
}
.slide-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 3rem;
  width: fit-content;
  max-width: 70%;
  bottom: 0;
}
.slide-title {
  color: var(--color-white);

  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}
.slide-dev {
  /* color: var(--color-gray); */
  color: var(--color-white);

  font-weight: 400;
  font-size: 1rem;
  padding: 0 0 0 0.3rem;
}
.slide-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 86.82%
  );
}
.slide-img {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  object-fit: contain;
  border-radius: 30px;
}
.slider-container {
  display: flex;
  justify-content: center;
}
/* Manual Navigation */
.navigation-manual {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  margin: 2rem 0 0 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.manual-btn {
  background-color: rgba(217, 217, 217, 0.3);
  width: 16px;
  height: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.manual-btn:hover {
  background: #f48242;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
/* Auto Navigation */
.navigation-auto {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  bottom: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.navigation-auto div {
  background-color: rgba(217, 217, 217, 0.3);
  width: 16px;
  height: 16px;
  border-radius: 10px;
  transition: background 0.15s ease-in-out;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--color-orange);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--color-orange);
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--color-orange);
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--color-orange);
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: var(--color-orange);
}
/* Spring Section CSS */
#section-spring-releases {
  /* padding: 3rem 0 0 4rem; */
  position: relative;
}
.spring-game-carousel {
  position: relative;
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 2rem 0 0 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.spring-game-carousel .card,
.modal-more-cards .card {
  position: relative;
  display: flex;
  background: rgba(111, 111, 111, 0.18);
  border-radius: 10px;
  width: 25%;
  min-width: 350px;
  max-width: 350px;
  max-height: 460px;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.spring-game-carousel .card-game-info,
.modal-more-cards .card-game-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.4rem;
}
.spring-game-carousel .card-game-combinedinfo,
.modal-more-cards .card-game-combinedinfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.spring-game-carousel .card-game-studio,
.spring-game-carousel .card-game-release,
.modal-more-cards .card-game-studio,
.modal-more-cards .card-game-release {
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-gray);
}
.spring-game-carousel .card-game-title,
.modal-more-cards .card-game-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-white);
}
.spring-game-carousel .card-game-img,
.modal-more-cards .card-game-img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  border-radius: 10px;
  max-width: 164px;
  max-height: 200px;
}
.modal-more-cards .card {
  transition: transform 0.3s ease-in-out;
}
.modal-more-cards .card:hover {
  transform: scale(1.15);
}
/* Popular Reviews Section */
#section-reviews {
  /* padding: 3rem 0 0 4rem; */
  position: relative;
}
#section-reviews .arrow-button--left,
#section-reviews .arrow-button--right {
  top: 45%;
}
.reviews-carousel {
  position: relative;
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 2rem 0 0 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.reviews-carousel .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(111, 111, 111, 0.18);
  border-radius: 10px;
  width: 25%;
  min-width: 350px;
  max-width: 350px;
  max-height: 250px;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.reviews-carousel .card-game-img {
  height: 65%;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 10px;
}
.reviews-carousel .card-game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.reviews-carousel .card-game-title {
  width: 100%;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.25rem;
}
.reviews-carousel .card-game-combinedinfo {
  display: flex;
  justify-content: space-between;
}
.reviews-carousel .card-game-reviewer,
.reviews-carousel .card-game-review {
  color: var(--color-gray);
  font-weight: 300;
  font-size: 1rem;
}
/* Top 10 Section */
#section-top-recommendations {
  /* padding: 3rem 0 0 4rem; */
  position: relative;
}
#section-top-recommendations .arrow-button--left,
#section-top-recommendations .arrow-button--right {
  top: 49.5%;
}
.top-games-carousel {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  padding: 2rem 0 0 0;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}
.top-games-carousel .card-info {
  display: flex;
}
.top-games-carousel .top-number {
  padding: 0 1.25rem 0 0.5rem;
  font-weight: 700;
  font-size: 2rem;
  color: #ff9838;
}
.top-games-carousel .number-one {
  color: #ff5c00;
  font-size: 2.5rem;
}
.top-games-carousel .card {
  position: relative;
  display: flex;
  background: rgba(111, 111, 111, 0.18);
  border-radius: 10px;
  width: 25%;
  min-height: 200px;
  min-width: 350px;
  max-width: 350px;
  max-height: 460px;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}
.top-games-carousel .card-game-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.4rem;
}
.top-games-carousel .card-game-combinedinfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.top-games-carousel .card-game-studio,
.top-games-carousel .card-game-release {
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-gray);
}
.top-games-carousel .card-game-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-white);
}
.top-games-carousel .card-game-img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  border-radius: 10px;
  max-width: 164px;
  max-height: 200px;
}
/* Card Modal */
.modal-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(29, 29, 31, 0.7);

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-container ::-webkit-scrollbar {
  display: none;
}
.card-modal {
  z-index: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-black);
  width: 95%;
  height: 100%;
}

.modal-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-exit {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal-exit:hover {
  transform: scale(1.2);
}
.modal-img-container {
  position: relative;
  width: 100%;
  height: 35%;
  min-height: 720px;
}
.modal-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1d1d1f 100%);
}
.modal-main-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0 5rem 0 5rem;
}
.name-icon-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.modal-name {
  color: var(--color-white);

  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}
.modal-icon {
  max-width: 36px;
  max-height: 36px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.modal-icon:hover {
  transform: scale(1.2);
}
.release-rating-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.modal-release {
  color: var(--color-gray);

  font-weight: 300;
  font-size: 1.25rem;
}
.modal-rating {
  color: var(--color-white);
  font-weight: 300;
  font-size: 1.25rem;

  padding: 0.2rem 0.4rem;
  border: 1px solid var(--color-gray);
}
.modal-genre-container {
  display: flex;
  align-items: center;
}
.modal-genre-text {
  color: var(--color-gray);
  font-weight: 300;
  font-size: 1.25rem;
}
.game-genre {
  color: var(--color-white);
}
.modal-desc {
  color: var(--color-white);

  font-weight: 400;
  font-size: 1.5rem;

  padding: 0 5rem 0 5rem;
}
.modal-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 0 5rem 0 5rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 2rem;
}
.modal-see-more {
  position: relative;
  display: flex;
  color: var(--color-gray);
  align-items: center;

  font-weight: 300;
  font-size: 1.25rem;
  cursor: pointer;
}
.modal-see-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: width 0.3s ease;
}
.modal-see-more:hover::after {
  width: 100%;
}
.modal-reviews {
  display: flex;
  width: 100%;
  gap: 10%;
}
.modal-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.modal-reviewer-pfp {
  width: 100%;
  height: 100%;
  max-height: 63px;
  max-width: 63px;
}
.modal-reviewer-name {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
}
.modal-reviewer-rating {
  display: flex;
  padding: 1rem 0 0 0;
  gap: 0.6rem;
}
.modal-reviewer-comment {
  display: flex;
  padding: 2rem 0 0 0;
  color: var(--color-white);
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  width: 50%;
  line-height: 1.25rem;
  justify-content: center;
}
.reviewer-ticks {
  font-size: 3rem;
}
.modal-more-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 0 5rem 3rem 5rem;
}
.modal-more-cards {
  display: flex;
  width: 100%;
  gap: 10%;
  justify-content: center;
}
/* Card Masking */
.card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(29, 29, 31, 0.9) 15.1%,
    rgba(29, 29, 31, 0) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* Card Add Button */
.card-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.card-icon:hover {
  transform: scale(1.2);
}
/* Card Add Pop-up */
.popup-added,
.popup-removed {
  position: absolute;

  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;

  padding: 10px;
  margin: 10px 0 0 0;
  top: 0;
  right: 15%;
  border-radius: 10px;
  animation: popupAnimationLeft 0.5s forwards;
}
.popup-removed {
  background-color: rgba(255, 0, 0, 0.8);
}
.popup-added {
  background-color: rgba(0, 117, 0, 0.8);
}

/* Animations */
@keyframes popupAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes popupAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* General CSS */
.is-hidden {
  display: none;
}
.page-padding--left--top {
  padding: 3rem 0 0 4rem;
}
.page-padding--left--top--bot {
  padding: 3rem 0 3rem 4rem;
}
.page-padding--top--bot {
  padding: 3rem 0 3rem 0;
}
.page-padding--left {
  padding-left: 4rem;
}
.overflow-hidden {
  overflow: hidden;
}
body {
  background: linear-gradient(351.22deg, #1a1a1a 55.25%, #2b2b2b 96.61%);
  min-height: 200svh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  z-index: -10000;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
button {
  font-family: Montserrat, sans-serif;
}
:root {
  --color-orange: #ff5c00;
  --color-black: #1d1d1d;
  --color-white: #fafafa;
  --color-gray: #8c8c8c;
}
