/* Hero Section Background*/
.heropage-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: -1000;
}
.heropage-background-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: -999;
  background: linear-gradient(180deg, rgba(29, 29, 31, 0.3) 0%, #1d1d1f 100%);
}

/* Hero Section */
#section-hero {
  height: calc(100svh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.section-hero-title {
  color: var(--color-white);
  max-width: 750px;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
  text-align: center;
  text-transform: uppercase;
}

.section-hero-buttons {
  display: flex;
  gap: 2.25rem;
}

.button-join-us {
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.25rem;
  height: 50px;
  width: 170px;
  background: linear-gradient(102.12deg, #ff5c00 27.47%, #ff9838 71.09%);
  border: none;
  border-radius: 10px;
  transition: 0.15s;
}
.button-join-us:hover {
  color: var(--color-orange);
  background: var(--color-white);
  cursor: pointer;
}

.button-learn-more {
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.25rem;
  height: 50px;
  width: 170px;
  background: transparent;
  border: 1.75972px solid #fafafa;
  border-radius: 10px;
  transition: 0.15s;
}
.button-learn-more:hover {
  color: var(--color-orange);
  background: var(--color-white);
  cursor: pointer;
}
/* Learn More Section */
#section-learn-more {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test {
  padding: 5rem 0 0 0;
  max-width: 900px;
  display: flex;
  justify-content: right;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 92, 0, 0.15) 0%,
    rgba(255, 92, 0, 0) 100%
  );
}
.learn-more-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  max-width: 750px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.learn-more-title {
  width: 40%;
  color: var(--color-white);
  display: flex;

  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6875rem;
  text-transform: uppercase;
}
.learn-more-info {
  padding: 16rem 0 0 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 92, 0, 0.15) 0%,
    rgba(255, 92, 0, 0) 100%
  );
  max-width: 900px;
}
.learn-more-details {
  width: 50%;
  color: rgba(250, 250, 250, 0.7);
  padding: 1rem 0 1rem 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.learn-more-start {
  width: fit-content;
  display: flex;
  color: var(--color-white);
  position: relative;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  cursor: pointer;
}
.learn-more-start::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem; /* Adjust the position of the underline */
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: width 0.3s ease; /* Apply the transition effect */
}
.learn-more-start:hover::after {
  width: 85%; /* Expand the width of the underline on hover */
}
.learn-more-arrow {
  color: var(--color-orange);
  font-size: 1.57rem;
  font-weight: 500;
}
/* Reviews Section */
#section-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  min-height: 100svh;
}
.review-container {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: center;
  gap: 4rem;
}
.review-card {
  position: relative;
  width: 20%;
  max-width: 280px;
  max-height: 350px;
}
.review-img {
  width: 100%;
  border-radius: 30px;
  max-width: 280px;
  max-height: 350px;
}
.review-card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0 1rem 0;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 0 0 30px 30px;
}
.reviews-text {
  color: var(--color-white);
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;

  display: flex;
  text-align: center;
  align-items: center;

  width: 20%;
  max-width: 280px;
}
/* Become Part Section */
#section-become-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  min-height: 100svh;
}
/* General */
.becomepart-background-overlay {
  background: linear-gradient(
    180deg,
    #1d1d1f 0.05%,
    rgba(29, 29, 31, 0.3) 49.51%,
    #1d1d1f 100%
  );
  position: absolute;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: -999;
}
/* Media Query this should be changed to 100% */
.width-max {
  max-width: 25%;
}
/* Blurred Background Effect */
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body {
  background: var(--color-blacker);
  min-height: 200svh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  z-index: -10000;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
button {
  font-family: Montserrat, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-orange: #ff5c00;
  --color-black: #1d1d1d;
  --color-blacker: #1d1d1f;
  --color-white: #fafafa;
  --color-gray: #8c8c8c;
}
