.profile-header {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 0 4rem;
}
.right-section {
  display: flex;
  gap: 4rem;
}
.profile-header-icon-container {
  display: flex;
  align-items: center;
  max-width: 63px;
  max-height: 63px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  padding: 0 1rem 0 1rem;
}
.profile-header-icon-container:hover {
  transform: scale(1.2);
}
.search-field {
  box-sizing: border-box;
  width: 40%;
  max-width: 550px;
  max-height: 50px;
  margin: 0.8rem 0 0 0;
  padding: 1rem 0 1rem 1rem;

  color: var(--color-white);
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;

  background: #515151;
  border: none;
  border-radius: 7px;
}
::placeholder {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
.search-field:focus {
  outline: 1px solid var(--color-white);
}
.profile-header .right-section .selected-icon {
  background: linear-gradient(139.09deg, #ff5c00 6.19%, #ff9838 100%);
  border-radius: 14px;
}
